@charset "UTF-8";

/* 共通設定
------------------------------------------ */
* {
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

._pc {
	display: none;
}

body {
	font-family: "system-ui", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
	font-size: 16px;
	line-height: 1.875;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.82);
	background-color: #EDF2F7;
}

/* header
------------------------------------------ */
header {
	background-color: #fff;
	height: 63px;
	padding-left: 18px;
	padding-right: 20px;
	border-bottom: 1px solid #E5EEF4;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header_l {
	width: 96px;
}

.header_r {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 虫眼鏡アイコン */
.search {
	margin-right: 22px;
}

.search img {
	width: 18px;
	display: inline-block;
}

/* ログインボタン */
.login {
	width: 70px;
	height: 33px;
	background-color: #3EA9FF;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: .3s;
}

.login:hover {
	background-color: #0983fa;
}

/* 記事
------------------------------------------ */
article {
	background-color: #EDF2F7;
}

.art_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 9px 20px;
	position: sticky;
	top: 0;
	z-index: 10;
}

.art_head_l {
	display: flex;
	align-items: center;
}

.art_head_l img {
	width: 37px;
	border-radius: 50%;
	margin-right: 10px;
}

.art_head_l p {
	font-size: 14px;
	font-weight: 600;
}

.art_head_r {
	display: flex;
	align-items: center;
}

/* 目次 */
.outline {
	margin-right: 35px;
	position: relative;
}

.outline_title {
	font-size: 14px;
	color: #65717b;
	line-height: 1.6428;
	display: block;
	position: relative;
}

.outline_title::after {
	position: absolute;
	content: '';
	border-bottom: solid 2px #93A5B1;
	border-right: solid 2px #93A5B1;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);
	transition: .3s;
	top: 6px;
	right: -12px;
}

.outline_title {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.outline .accordion_contents {
	display: none;
}

.outline .accordion_contents a {
	font-size: 14px;
	color: #65717b;
}

.outline .accordion_contents ul {
	margin-top: 8px;
}

.outline .accordion_contents li {
	font-size: 14px;
	line-height: 1.5;
	padding-left: 22px;
	margin-bottom: 8px;
	position: relative;
}

.outline .accordion_contents li:first-child:before {
	position: absolute;
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #3EA9FF;
	border: 2px solid #E0F0FE;
	top: 3px;
	left: 2px;
}

.outline .accordion_contents li:not(:first-child):before {
	position: absolute;
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #D9EAFA;
	top: 9px;
	left: 5px;
}

.outline .accordion_contents li:not(:last-child):after {
	position: absolute;
	content: '';
	width: 2px;
	height: 100%;
	background-color: #D9EAFA;
	top: 15px;
	left: 6px;
}

.outline .accordion_contents li:first-child {
	font-weight: 700;
}

.outline .accordion_contents li:not(:first-child) {
	color: #65727B;
}

.toggle {
	display: none;
}

.outline .toggle:checked+.outline_title::after {
	transform: rotate(225deg);
	margin-top: 3px;
}

.outline .toggle:checked+.outline_title+.accordion_contents {
	display: block;
	position: absolute;
	box-shadow: 0px 5px 10px -4px #777777;
	border-radius: 10px;
	top: 34px;
	right: -65px;
	background-color: #fff;
	width: 350px;
	padding: 20px;
}

.art_head_r>a {
	width: 35px;
	height: 35px;
	background-color: #EDF2F7;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.art_head_r a img {
	width: 19px;
}

/* 記事タイトル */
.art_title {
	padding-top: 60px;
	padding-bottom: 48px;
	text-align: center;
	background-color: #EDF2F7;
}

.art_title img {
	width: 75px;
	margin-bottom: 25px;
}

.art_title p {
	font-size: 15px;
	line-height: 1.33;
	color: #65717b;
}

.art_inner {
	background-color: #fff;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

.art_title h1 {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.5454;
	margin-bottom: 15px;
}

.art_inner h2 {
	font-size: 26px;
	font-weight: 700;
	line-height: 1.4615;
	border-bottom: 1px solid #E5EEF4;
	padding-top: 50px;
	padding-bottom: 8px;
	margin-bottom: 5px;
}

.art_inner h3 {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.5454;
	padding-top: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5EEF4;
}

.art_text {
	padding-top: 10px;
	padding-bottom: 10px;
}

.art_inner>img {
	padding-top: 20px;
	padding-bottom: 16px;
}

.art_inner>img:nth-of-type(2) {
	padding-bottom: 4px;
}

.art_link {
	font-weight: 700;
	color: #0f83fd;
	padding-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	position: relative;
}

.art_link::before {
	position: absolute;
	content: '';
	background-image: url(../images/ico_textlink.png);
	width: 14px;
	height: 17px;
	top: 6px;
	left: 0;
}

.art_link_border {
	padding-bottom: 45px;
	border-bottom: 2px solid #E5EEF4;
	margin-bottom: 24px;
	display: block;
}

.art_link:hover {
	text-decoration: underline;
}

.cat_icon {
	margin-bottom: 12px;
}

.cat_icon a {
	width: 75px;
	height: 30px;
	border: 1px solid #E5EEF4;
	border-radius: 20px;
	font-size: 12px;
	color: inherit;
	padding-left: 35px;
	display: inline-flex;
	align-items: center;
}

.cat_icon a:first-child {
	background: url(../images/ico_cat_zenn.png) no-repeat 2px 0px/36%;
}

.cat_icon a:last-child {
	background: url(../images/ico_cat_tech.svg) no-repeat 4px center/36%;
}

.accordion {
	border: 1px solid #D6E3EE;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 13px;
}

.accordion .accordion_title {
	font-size: 14px;
	line-height: 1.6428;
	padding: 10px 10px 10px 27px;
	display: block;
	box-shadow: 0px 1px 5px 1px #ececec;
	position: relative;
}

.accordion .accordion_title::before {
	position: absolute;
	content: '';
	background: #2C2C2C;
	width: 8px;
	height: calc(tan(60deg) * 11px / 2);
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	top: 17px;
	left: 12px;
}

.accordion .accordion_title {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.accordion .accordion_contents {
	height: 0;
	overflow: hidden;
}

.accordion .accordion_contents p,
.accordion .accordion_contents ul {
	font-size: 15px;
	line-height: 1.7333;
}

.accordion .toggle:checked+.accordion_title+.accordion_contents {
	height: auto;
	padding: 20px 15px;
}

.accordion .toggle:checked+.accordion_title {
	background-color: #F2F5FA;
}

.accordion .toggle:checked+.accordion_title::before {
	transform: rotate(90deg);
}

.accordion .accordion_contents ul {
	padding: 10px 10px 0 25px;
}

.accordion .accordion_contents li {
	margin-bottom: 10px;
	position: relative;
}

.accordion .accordion_contents li::before {
	position: absolute;
	content: '';
	width: 5px;
	height: 5px;
	background-color: #5E6478;
	border-radius: 50%;
	top: 10px;
	left: -13px;
}

.annotation {
	position: relative;
	padding-left: 20px;
}

.annotation::before {
	position: absolute;
	content: '※';
	top: 0;
	left: 0;
}

.annotation span {
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 13px;
	line-height: 1.6923;
	background-color: #F0F3F9;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	position: relative;
}

.art_footer {
	margin-top: 9px;
	border-bottom: 1px solid #E5EEF4;
}

.github_link {
	font-size: 14px;
	color: inherit;
	border: 1px solid #E5EEF4;
	padding: 4px 16px 4px 37px;
	border-radius: 5px;
	background: url(../images/ico_github.png) no-repeat 11px center/11%;
	box-shadow: 0px 1px 5px 1px #ececec;
	display: inline-block;
	margin-bottom: 40px;
}

.approach {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.approach_l {
	display: flex;
	align-items: center;
}

.approach_l a {
	width: 50px;
	height: 50px;
	background-color: #EDF2F7;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.approach_l a img {
	width: 48%;
}

.approach_l span {
	font-size: 12px;
	color: #93a5b1;
}

/* 違反を報告 */
.report {
	position: relative;
}

.report_title {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.report_title::before {
	position: absolute;
	content: '';
	border-bottom: solid 2px #93A5B1;
	border-right: solid 2px #93A5B1;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
	transition: .3s;
	top: 9px;
	left: -30px;
}

.report_contents {
	display: none;
	height: 0;
}

.report .toggle:checked+.report_title::after {
	transform: rotate(225deg);
	margin-top: 3px;
}

.report .toggle:checked+.report_title+.report_contents {
	display: block;
	position: absolute;
	background: url(../images/ico_flag.png) no-repeat 10px center/14px;
	box-shadow: 0px 5px 10px -4px #777777;
	border-radius: 10px;
	top: 34px;
	right: 52px;
	background-color: #FFF;
	width: 175px;
	height: 45px;
	padding: 8px 0 8px 38px;
	animation: report .1s ease-out;
}

@keyframes report {
	0% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(0);
	}
}

/* ツイート */
.approach_r a {
	font-size: 14px;
	color: #93A5B1;
	border: 1px solid #D6E4ED;
	padding: 11px 15px 11px 43px;
	border-radius: 20px;
	background: url(../images/ico_twitter.png) no-repeat 16px center/18%;
}

/* 著者 */
.author {
	display: flex;
	padding-top: 30px;
	padding-bottom: 39px;
}

.author a {
	margin-top: 7px;
	margin-right: 15px;
}

.author img {
	width: 60px;
	border-radius: 50%;
}

.author_r>a {
	color: inherit;
	font-weight: 700;
}

.author_r p {
	font-size: 14px;
	color: #65717b;
	margin-top: 7px;
	margin-bottom: 3px;
}

.author_approach {
	display: flex;
	align-items: center;
}

.author_approach a {
	margin-right: 18px;
}

.author_approach a:first-child {
	font-size: 13px;
	color: #65717b;
	border: 1px solid #65727B;
	padding: 2px 14px;
	border-radius: 20px;
}

.author_approach img {
	width: 21px;
}

/* Discussion */
.discussion {
	background-color: #fff;
	text-align: center;
	padding-top: 27px;
	padding-bottom: 23px;
	border-top: 1px solid #E5EEF4;
}

.discussion p:first-of-type {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 10px;
}

.discussion img {
	width: 290px;
	margin-bottom: 58px;
}

.discussion p:last-of-type {
	font-size: 14px;
	color: #93a5b1;
	padding-top: 15px;
	border-top: 1px solid #E5EEF4;
	margin-bottom: 12px;
}

.discussion a {
	width: 75px;
	height: 38px;
	background-color: #3EA9FF;
	box-shadow: 0px 1px 10px -4px #777777;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	margin: auto;
}

/* Read next */
.readnext {
	background-color: #EDF2F7;
	padding: 47px 20px 48px;
}

.readnext h2 {
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 24px;
}

.readnext_item h3 {
	font-size: 16px;
	line-height: 1.7;
}

.readnext_item {
	display: flex;
	margin-bottom: 30px;
}

.readnext_item_icon {
	width: 75px;
	height: 75px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 17px;
}

.readnext_item_icon img {
	width: 35px;
	height: auto;
}

.readnext_item_info {
	width: calc(100% - 95px);
}

.readnext_item_meta {
	display: flex;
	align-items: center;
}

.readnext_item_meta a>img {
	border-radius: 50%;
	width: 26px;
}

.readnext_item_meta_long a>img {
	border-radius: 7px;
	position: relative;
}

.readnext_item_meta .account,
.readnext_item_meta .account a {
	font-size: 13px;
	color: inherit;
}

.readnext_item_meta>img {
	width: 13px;
	margin-right: 2px;
}

.readnext_item_meta a:hover {
	text-decoration: underline;
}

.readnext_item_meta p:first-of-type {
	font-size: 12px;
	color: #65717b;
}

.readnext_item_meta .like_num {
	font-size: 12px;
	color: #93a5b1;
}

.readnext_item_meta a:first-of-type {
	margin-right: 8px;
}

.readnext_item_meta a:nth-of-type(2) {
	margin-right: 4px;
}

.readnext_item_meta p:first-of-type {
	margin-right: 9px;
}

.readnext_item_meta_long>div>div {
	display: flex;
	align-items: center;
}

.readnext_item_meta_long .account {
	line-height: 1;
}

.readnext_item_meta_long p>a:last-child {
	margin-left: 5px;
}

.readnext_item_meta_long>div>div img {
	width: 13px;
	margin-right: 3px;
}

.readnext_item_meta_long>a {
	position: relative;
}

.readnext_item_meta_long>a::after {
	position: absolute;
	content: '';
	background: url(../images/ico_cube.png) no-repeat center center/18px;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	border-radius: 50%;
	top: 50%;
	left: 13PX;
	display: inline-block;
}

/* aside */
.flex_l,
.flex_r {
	display: none;
}

/* footer */
footer {
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.footer_inner {
	padding-top: 50px;
	border-bottom: 1px solid #E5EEF4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
}

.footer_inner .logo {
	grid-column: 1 / 3;
}

.footer_inner img {
	width: 85px;
	margin-bottom: 15px;
}

.footer_inner p {
	font-size: 13px;
	line-height: 1.6153;
	color: #93a5b1;
	margin-bottom: 30px;
}

.footer_nav {
	grid-column: 1 / 3;
	grid-row: 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 33px;
	margin-bottom: 40px;
}

.footer_nav h3 {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 7px;
}

.footer_nav li {
	margin-bottom: 5px;
}

.footer_nav a {
	font-size: 14px;
	line-height: 1.7857;
	color: inherit;
}

.footer_nav a:hover {
	text-decoration: underline;
}

/* classmethod */
.classmethod {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
}

.classmethod img {
	width: 118px;
}

.classmethod a {
	position: absolute;
	top: -31px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 13px;
	line-height: 1.6923;
	background-color: #EAF1F7;
	padding: 5px 14px;
	border-radius: 10px;
	display: inline-block;
}

.classmethod a::after {
	position: absolute;
	content: '';
	background: #EAF1F7;
	height: calc(tan(60deg) * 13px / 2);
	width: 20px;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	left: 50%;
	transform: translateX(-50%);
	bottom: -7px;
}

@media screen and (min-width: 770px) {
	.header_inner {
		max-width: 688px;
		margin: auto;
	}

	.header_r a:first-child {
		margin-right: 24px;
	}

	.login {
		width: 80px;
		height: 36px;
	}

	.art_head {
		padding-left: 41px;
		padding-right: 41px;
	}

	.art_head_l img {
		width: 36px;
		border-radius: 50%;
		margin-right: 8px;
	}

	.art_title h1 {
		font-size: 31px;
		line-height: 1.4838;
	}

	.art_title img {
		width: 76px;
		margin-bottom: 25px;
	}

	.art_inner {
		width: 90%;
		margin: auto;
		padding-top: 30px;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 10px;
		margin-bottom: 40px;
	}

	.art_inner h2 {
		font-size: 27px;
		padding-top: 54px;
		margin-bottom: 0;
	}

	.art_inner h3 {
		font-size: 24px;
		padding-top: 46px;
	}

	.art_text {
		padding-top: 15px;
	}

	.art_text:nth-of-type(3) {
		padding-top: 6px;
	}

	.art_inner>img:nth-of-type(3) {
		padding-top: 5px;
		padding-bottom: 8px;
	}

	.art_link:first-of-type {
		margin-bottom: 9px;
	}

	.art_link:last-of-type {
		margin-bottom: 10px;
	}

	.art_link_border {
		margin-bottom: 21px;
	}

	.accordion {
		margin-bottom: 7px;
	}

	.art_inner>img:nth-of-type(2) {
		padding-bottom: 18px;
	}

	.art_footer {
		margin-top: 15px;
	}

	.approach_r a {
		padding-right: 21px;
	}

	.report_title::before {
		top: 6px;
		left: -34px;
	}

	.author {
		padding-bottom: 35px;
	}

	.author a {
		margin-right: 20px;
	}

	.author>a>img {
		width: 80px;
	}

	.author_r {
		font-size: 18px;
	}

	.discussion {
		width: 90%;
		margin: auto;
		border-radius: 10px;
	}

	.discussion p:first-of-type {
		font-size: 27px;
	}

	.readnext {
		width: 90%;
		margin: auto;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 76px;
	}

	.read_wrapper {
		margin-left: 40px;
	}

	.readnext_contents {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 32px 40px;
	}

	.readnext_item {
		margin-bottom: 0;
	}

	.readnext_item_icon {
		width: 93px;
		height: 90px;
	}

	.readnext_item_info h3 {
		line-height: 1.55;
		margin-bottom: 4px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}

	.readnext_item_info {
		width: calc(100% - 110px);
	}

	.readnext_item:nth-child(9) .account {
		width: 84px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	aside .author a {
		margin-right: 8px;
	}

	footer {
		padding-left: 40px;
		padding-right: 40px;
	}

	.footer_nav {
		grid-template-columns: repeat(4, 1fr);
	}

	.footer_inner>p {
		margin-bottom: 40px;
	}

	.classmethod {
		padding-top: 28px;
	}
}

@media screen and (min-width: 980px) {
	._pc {
		display: block;
	}

	.header_inner {
		max-width: 898px;
	}

	.flex {
		display: flex;
		margin: auto 40px;
	}

	.flex_r {
		width: 300px;
		display: block;
	}

	.flex_c {
		width: calc(100% - 330px);
		margin-right: 30px;
	}

	.art_head {
		display: none;
	}

	.art_title {
		padding-top: 65px;
	}

	.art_title p {
		display: none;
	}

	.art_inner {
		width: 100%;
		margin-bottom: 40px;
	}

	.discussion {
		grid-column: 1;
		width: 100%;
	}

	.readnext {
		max-width: 880px;
		width: 100%;
		margin: auto;
	}

	.readnext_contents {
		gap: 35px 53px;
	}


	.readnext_item:nth-child(9) .account {
		width: auto;
		text-overflow: inherit;
	}

	.flex {
		display: flex;
	}

	.art_info dl {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
	}

	.art_info dl:not(:first-child) {
		padding-top: 11px;
	}

	.art_info dl:not(:last-child) {
		padding-bottom: 10px;
		border-bottom: 1px solid #E5EEF4;
	}

	.art_info dt {
		color: #65717b;
		padding-left: 25px;
	}

	.art_info dd {
		padding-left: 25px;
	}

	.art_info dl:first-child dt {
		background: url(../images/ico_author.png) no-repeat left center/15px;
	}

	.art_info dl:nth-child(2) dt {
		background: url(../images/ico_date.png) no-repeat left center/15px;
	}

	.art_info dl:nth-child(3) dt {
		background: url(../images/ico_update.png) no-repeat left center/15px;
	}

	.art_info dl:last-child dt {
		background: url(../images/ico_text.png) no-repeat left center/15px;
	}

	.art_info dl:first-child dd {
		padding-left: 25px;
		position: relative;
	}

	.art_info dl:first-child dd::before {
		position: absolute;
		content: '';
		background-image: url(../images/ico_zenn_black.jpeg);
		background-size: contain;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}

	.art_info dl:first-child dd a:hover {
		text-decoration: underline;
	}

	.art_info dl:nth-child(3) dd {
		background: url(../images/ico_github.png) no-repeat left center/20px;
	}

	.fixed {
		position: sticky;
		top: 30px;
	}

	aside.art_info,
	aside .author,
	aside .outline {
		background-color: #fff;
		border-radius: 10px;
		margin: 0;
		display: block;
	}

	aside.art_info,
	aside .author {
		margin-bottom: 25px;
	}

	aside.art_info {
		padding: 12px 20px 13px;
	}

	aside .author {
		padding: 20px 20px 22px;
	}

	aside .author a {
		margin-top: 0;
	}

	aside .author_approach {
		margin-top: 3px;
		margin-bottom: 11px;
	}

	aside .author>div {
		display: flex;
	}

	aside .author p {
		font-size: 14px;
		line-height: 1.7142;
	}

	aside .author>a>img {
		width: 60px;
	}

	aside .author_r {
		font-size: 16px;
	}

	aside .outline {
		padding: 18px 14px 26px 20px;
	}

	aside .outline p {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	aside .outline li {
		font-size: 14px;
		line-height: 1.5;
		padding-left: 22px;
		margin-bottom: 8px;
		position: relative;
	}

	aside .outline li:first-child:before {
		position: absolute;
		content: '';
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background-color: #3EA9FF;
		border: 2px solid #E0F0FE;
		top: 3px;
		left: 2px;
	}

	aside .outline li:not(:first-child):before {
		position: absolute;
		content: '';
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #D9EAFA;
		top: 9px;
		left: 5px;
	}

	aside .outline li:after {
		position: absolute;
		content: '';
		width: 2px;
		height: 100%;
		background-color: #D9EAFA;
		top: 15px;
		left: 6px;
	}

	aside .outline li:last-child::after {
		height: 45%;
	}

	aside .outline li:first-child {
		font-weight: 700;
	}

	aside .outline li:not(:first-child) {
		color: #65727B;
	}

	.footer_inner {
		grid-template-columns: 220px 1fr;
	}

	.footer_inner .logo {
		grid-column: 1;
	}

	.footer_inner {
		padding-top: 45px;
	}

	.footer_inner .logo {
		margin-top: 4px;
	}

	.footer_nav {
		grid-column: 2;
		grid-row: 1;
	}

	.classmethod {
		grid-row: 2;
	}
}

@media screen and (min-width: 1300px) {
	header {
		margin-left: -80px;
	}

	.header_inner {
		max-width: 1220px;
		padding-left: 90px;
		padding-right: 10px;
	}

	.container {
		margin-left: -80px;
	}

	.art_title h1 {
		padding-left: 80px;
	}

	.art_title img {
		margin-left: 80px;
	}

	.flex {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}

	.footer_inner {
		width: 80%;
		margin: auto;
	}

	.flex_l {
		display: block;
		width: 50px;
		margin-top: 6px;
		margin-right: 30px;
	}

	.flex_l a:last-of-type {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		transition: .3s;
	}

	.flex_l a:last-of-type:hover {
		filter: brightness(0%);
	}

	.flex_c {
		width: calc(100% - 410px);
		margin-right: 30px;
	}

	.readnext {
		max-width: 960px;
		width: 100%;
		padding-left: 40px;
		padding-bottom: 75px;
	}

	.readnext_item_info h3 {
		font-size: 17px;
	}

	aside .approach_l {
		flex-direction: column;
		align-items: center;
		position: sticky;
		top: 100px;
	}

	aside .approach_l a {
		background-color: #fff;
		margin-right: 0;
	}

	aside .approach_l>span:first-of-type {
		margin-bottom: 10px;
	}

	.footer_inner {
		width: 100%;
		max-width: 1120px;
	}
}